<%= render 'shared/header' %>


	
<div id="container" style="margin-right:240px;margin-left:1%;display:block;">
   <%= render Micropost.all  %>
</div>






<aside style="position:absolute;">

   <% Micropost.tagged_with(["health", "beauty"], :any => true).each do |micropost| %>
	
	<div class="question" >

	<div data-toggle="modal" href="#<%= micropost.id %>4" style="cursor:pointer;cursor:hand;" >
	  <span ><%= image_tag micropost.image_url(:micropost) if micropost.image? %></span>
	  <div class="link"><a href= <%= micropost.link %> ></a></div>
	  <% if micropost.content? %>
	  <div class="content"><%= micropost.content %></div>
	  <% end %>
	</div>

	<barr style="position:absolute;width:50px;height:28px;text-align:center;"><h3>
		<% if current_user?(micropost.user) %>
		  <%= link_to "+", micropost, method: :delete, data: { confirm: "You sure?" },title: micropost.content %>
		<% end %>
    </h3></barr>

	<span style="position:absolute;">
	<%= link_to micropost.user do %>
	<barr style="position:absolute;margin-left:50px;width:108px;height:28px;text-align:center;"><h3><%= micropost.user.name %></h3></barr>
	<% end %>
	</span>	

	<span style="position:absolute;">
	<% if signed_in? %>
	<%=  link_to vote_up_micropost_path(micropost.id) do %> 
	<barr style="position:absolute;margin-left:158px;width:52px;height:28px;text-align:center;"><h3><%= micropost.votes_for %></h3></barr>	
	<% end %>
	<% else %>
	<barr style="position:absolute;margin-left:158px;width:52px;height:28px;text-align:center;"><h3><%= micropost.votes_for %></h3></barr>
	<% end %>
	</span>

	</div>
		
   <% end %>
</aside>













<script type="text/javascript">
$(function(){
  $('#container').masonry({

    itemSelector : '.item',
    columnWidth : 240
  });
});
</script>