<% if signed_in? %>

<%= render 'shared/header' %>
<div><%= render 'shared/trendusers' %></div>

	
<div id="container" style="margin-top:490px;margin-right:240px;left:1%;display:block;">
   <%= render Micropost.all  %>
</div>

<aside style="position:absolute;margin-top:10px;">

   <% Micropost.where(kyahai: "3").each do |micropost| %>
	
<div style=""class="question" >
	<div data-toggle="modal" href="#<%= micropost.id %>4" style="cursor:pointer;cursor:hand;" >
		<span style="color:white;top:5px;float:left;margin:2px;"><%= image_tag micropost.user.avatar_url(:avatar) if 			micropost.user.avatar? %></span>
		<span><h5 style="font-size:15px;"><%= micropost.user.name %>:</h5> </span>
		<div style="color:black;font-size:13px;"><%= micropost.content %></div>
		<span style="font-weight:bold;font-size:10px;font-weight:normal;float:right;"><%= time_ago_in_words(micropost.created_at) %> ago </span>

	  <div style="float:right;padding-right:15px;padding-bottom:15px;"><%= image_tag micropost.image_url(:micropost) if micropost.image? %></div>
	  <div class="link"><a href= <%= micropost.link %> ></a></div>
	</div>
</div>

		
   <% end %>
</aside>

<% else %>



<div style="margin: 0px auto;width:980px;">
	
	
	
	
<img style="position:absolute;top:0px;left:0px;margin: 0px auto;width:100%;" src="/assets/femynyn.png"/>

	<bar data-toggle="modal" href="#entermodal" style="position:fixed;left:0px;bottom:0px;width:100%;height:40px;">
		<h1 style="margin-top:2px;font-size:22px;color:grey">V i l a j i o</h1>
	</bar>



</div>

<% end %>








<script type="text/javascript">
$(window).load(function(){
var $container = $('#container');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.item',
    columnWidth : 240
  });
});
});
</script>








