<%= render 'shared/header' %>
<div style="margin: 0px auto;width:960px;">
<h1 style="margin-left:105px;"><%= current_user.name %></h1>

<div class="row" style="margin-left:60px;margin-bottom:600px;z-index:50;">
  <div class="">
	<%= form_for @user, :html => {:multipart => true} do |f| %>
	

	
	
	
	<tbar style="position:absolute;margin-left:50px;top:150px;width:120px;height:42px;z-index:60;"><o>Email</o></tbar>
	<span style="position:absolute;margin-left:168px;top:151px;"><%= f.text_field :email, style: "width:370px;height:30px;" %></span>

	<tbar style="position:absolute;margin-left:50px;top:220px;width:120px;height:42px;z-index:60;"><o>Profile Picture</o></tbar>
	<span style="position:absolute;margin-left:168px;top:220px;"><%= f.file_field :avatar, class: "bar", style: "width:378px;height:40px;" %></span>
	
	<tbar style="position:absolute;margin-left:50px;top:290px;width:120px;height:42px;z-index:60;"><o>Avatar 1</o></tbar>
	<span style="position:absolute;margin-left:168px;top:290px;"><%= f.file_field :image, class: "bar", style: "width:378px;height:40px;" %></span>
	
	<tbar style="position:absolute;margin-left:50px;top:360px;width:120px;height:42px;z-index:60;"><o>Avatar 2</o></tbar>
	<span style="position:absolute;margin-left:168px;top:360px;"><%= f.file_field :image2, class: "bar", style: "width:378px;height:40px;" %></span>
	
	<tbar style="position:absolute;margin-left:50px;top:430px;width:120px;height:42px;z-index:60;"><o>Avatar 3</o></tbar>
	<span style="position:absolute;margin-left:168px;top:430px;"><%= f.file_field :image3, class: "bar", style: "width:378px;height:40px;" %></span>


	<tbar style="position:absolute;margin-left:50px;top:500px;width:120px;height:42px;z-index:60;"><o>School</o></tbar>
	<span style="position:absolute;margin-left:168px;top:501px;"><%= f.text_field :school,id: "school", style: "width:370px;height:30px;" %></span>
	
	<tbar style="position:absolute;margin-left:50px;top:570px;width:120px;height:42px;z-index:60;"><o>Year</o></tbar>
	<span style="position:absolute;margin-left:168px;top:571px;"><%= f.text_field :schoolyear,id: "year", style: "width:370px;height:30px;" %></span>
	
	
	<tbar style="position:absolute;margin-left:50px;top:640px;width:120px;height:42px;z-index:60;"><o>Password</o></tbar>
	<span style="position:absolute;margin-left:168px;top:640px;"><%= f.password_field :password, style: "width:370px;height:30px;" %></span>
	
	<tbar style="position:absolute;margin-left:50px;top:710px;width:120px;height:42px;z-index:60;"><o>Confirm Password</o></tbar>
	<span style="position:absolute;margin-left:168px;top:710px;"><%= f.password_field :password_confirmation, style: "width:370px;height:30px;" %></span>

	<span style="position:absolute;margin-left:50px;top:780px;"><%= f.submit "Update", class: "bar", style: "width:500px;height:42px;" %></span>


    <% end %>

    <span style="position:absolute;margin-left:50px;top:900px;"><%= link_to 'Destroy', current_user, method: :delete, data: { confirm: 'Are you sure?' }  %></span>
  </div>
</div>
</div>




<script>
$(function() {
	var availableSchools = [
		"Slough Grammar School",
    	"Wexham High School",
    	"Burnham Grammar School",
    	"Herschel Grammar School",
    	"Westgate School",
    	"Langley Academy",
    	"East Berkshire College",
        "Langley Grammar School"
    ];
    $( "#school" ).autocomplete({
        source: availableSchools
    });
    var availableYears = [
        "Year 7",
        "Year 8",
        "Year 9",
        "Year 10",
        "Year 11",
        "Year 12",
        "Year 13"
    ];
    $( "#year" ).autocomplete({
        source: availableYears
    });
});
</script>
