<%= render 'shared/header' %>


<% @micropost  = current_user.microposts.build if signed_in? %>
<% if signed_in? %>

<section>
<div class="modal hide" id="entermodal" style="width:600px;height:150px;"><%= render 'shared/micropost_form' %></div>
<div class="modal hide" id="video" style="width:600px;height:500px;background-color:black;"><%= render 'shared/video_form' %></div>
<div class="modal hide" id="school" style="width:600px;height:500px;background-color:black;"><%= render 'shared/school_form' %></div>
<div class="modal hide" id="year" style="width:600px;height:500px;background-color:black;"><%= render 'shared/year_form' %></div>
</section>

<% end %>


<%= render 'profile' %>


<% if @user.microposts.any? %>

<div id="container" style="margin: 0 auto;margin-top:450px;left:10px;margin-bottom:200px;">
  <%= render @microposts %>
</div>



<% end %>









<script type="text/javascript">
$(window).load(function(){
var $container = $('#container');
$container.imagesLoaded(function(){
  $container.masonry({
	isFitWidth: true,
    itemSelector : '.item',
    columnWidth : 240
  });
});
});
</script>