<%= render 'shared/header' %>

<% @micropost  = current_user.microposts.build if signed_in? %>
<% if signed_in? %>

<div class="modal hide" id="entermodal">
  <%= render 'shared/micropost_form' %>
</div>

<% end %>


<%= render 'profile' %>


<% if @user.microposts.any? %>

<div style="margin-top:450px;margin-right:240px;left:1%;display:block;" id="container">
  <%= render @microposts %>
</div>

<aside style="position:absolute;">
  <%= render @microposts.tagged_with(["beauty"], :any => true)  %>
</div>

<% end %>










<script type="text/javascript">
$(function(){
  $('#container').masonry({

    itemSelector : '.item',
    columnWidth : 240;
  });
});
</script>