<div class="modal hide" id="entermodal" style="background:black;">
	
  <div class="">
    
	<tbar href="#home" data-toggle="tab" style="top:72px;height:40px;width:279px;" ><p>Log In</p></tbar>
	<tbar href="#profile" data-toggle="tab"style="top:72px;margin-left:279px;height:40px;width:279px;margin-top:-42px;" ><p>Join</p></tbar>
		
  </div>

  <div class="">

	<div class="tab-content">
		
		
	  <div class="tab-pane active" id="home">
	  	<div class="row" style="margin-left:77px;margin-top:30px;">
		<%= form_for(:session, url: sessions_path) do |f| %>
			  
		    <span><%= f.text_field :email, style: "width:400px;height:30px;", placeholder: "Email" %></span>
		
		    <span><%= f.password_field :password, style: "width:400px;height:30px;", placeholder: "Password" %></span>
		
		    <span><%= f.submit "Sign in", class: "bar", style: "width:410px;height:42px;" %></span>
		
		<% end %>
		</div>
	  </div>
			
	
	  <div class="tab-pane" id="profile">
		<div class="row" style="margin-left:77px;margin-top:30px;">
			<div class="modal hide"><%= @user = User.new %></div>
		<%= form_for(@user) do |f| %>
			

		    <span><%= f.text_field :name, style: "width:400px;height:30px;", placeholder: "Username (max 9 chars)" %></span>

		    <span><%= f.text_field :email, style: "width:400px;height:30px;", placeholder: "Email" %></span>

		    <span><%= f.password_field :password, style: "width:400px;height:30px;", placeholder: "Password" %></span>

		    <span><%= f.password_field :password_confirmation, style: "width:400px;height:30px;", placeholder: "Repeat Password" %></span>
		
		    <span><%= f.submit "Join", class: "bar", style: "width:410px;height:42px;" %></span>
		<% end %>

		</div>
	  </div>
	
	
	</div>
  </div>
</div>