<div class="item" >

<div data-toggle="modal" href="#<%= feed_item.id %>4" style="cursor:pointer;cursor:hand;" >
  <span ><%= image_tag feed_item.image_url(:micropost) if feed_item.image? %></span>
  
  <div class="link"><a href= <%= feed_item.link %> ></a></div>

  <% if feed_item.content? %>
  <div class="content"><%= feed_item.content %></div>
  <% end %>
</div>


  <barr style="position:absolute;width:50px;height:28px;text-align:center;"><h3>
	  <% if current_user?(feed_item.user) %>
	    <%= link_to "X", feed_item, method: :delete, data: { confirm: "DELETE POST?" },title: feed_item.content %>
	  <% end %>
  </h3></barr>

  <span style="position:absolute;">
  <%= link_to feed_item.user do %>
  <barr style="position:absolute;margin-left:50px;width:108px;height:28px;text-align:center;"><h3><%= feed_item.user.name %></h3></barr>
  <% end %>
  </span>	

  <span id="vote_form"style="position:absolute;">
	  <% if current_user.voted_for?(feed_item) %>
	 	<barr style="position:absolute;margin-left:158px;width:50px;height:28px;text-align:center;"><h3>✓</h3></barr>
	  <% else %>
		<%=  link_to(vote_up_micropost_path(feed_item.id), :remote => true) do |f| %> 
		<barr style="position:absolute;margin-left:158px;width:50px;height:28px;text-align:center;"><h3>+</h3></barr>	
		<% end %>
	  <% end %>
  </span>







<div class="modal hide" id="<%= feed_item.id %>4" style="position:fixed;margin-left:-475px;height:90%;top:270px;width:940px;background-color:black;border: 9px solid white;">
	

  <div style="width:680px;"><%= image_tag feed_item.image_url(:lmicropost) if feed_item.image? %></div>
  
  <div class="linkl" style="width:680px;"><a href= <%= feed_item.link %> ></a></div>
  <div class="content" style="width:660px;"><%= feed_item.content if feed_item.content? %></div>

<% feed_item.tag_list.each do |tag_list| %>
<%= link_to tagged_url(:tag => tag_list) do %>
<div class="tag" style="display:block;background-color:white;position:relative;"><%= tag_list %></div>
<% end %>
<% end %>
	
	
	<div style="position:absolute;top:0px;right:0px;height:auto;width:260px;background-color:black;">
	<div style="position:absolute;top:0px;right:0px;">
		<span style="color:white;position:absolute;right:256px;top:5px;"><%= image_tag feed_item.user.avatar_url(:avatar) if feed_item.user.avatar? %></span>
		<h1 style="color:white;position:absolute;right:4px;top:5px;"><%= feed_item.user.name %></h1>
		<h6 style="font-size:8px;color:#CC337A;float:right;right:1px;"><%= time_ago_in_words(feed_item.created_at) %> ago </h6>
		<tbar style="position:absolute;font-size:15px;color:white;float:right;right:4px;top:40px;">Plus:<%= feed_item.votes_for %></tbar>
	</div>
	
	<div style="position:absolute;top:60px;right:2px;width:254px;">
	<%= form_for([feed_item, @comment], :remote => true) do |f| %>
	<span><%= f.text_area :body, class: "bar", style: "width:242px;height:50px;margin-bottom:0px;", :placeholder => "Your Views..." %></span>
	<span><%= f.submit "Comment", class: "bar", style: "width:252px;height:30px;" %></span>
	<% end %>
	</div>
	
	<div id="<%=feed_item.id%>" style="position:absolute;top:155px;right:0px;width:255px;">
	    <%= render feed_item.comments %>
	</div>
	</div>
	
 

</div>
</div>



