<ar style="position:fixed;left:0px;top:0px;width:100%;height:55px;box-shadow: 0px 2px 2px 0px black;"></ar>
<bar data-toggle="modal" href="#entermodal" style="position:fixed;left:0px;bottom:0px;width:100%;height:40px;">
	<h1 style="margin-top:2px;font-size:22px;color:grey">V I L A J I O</h1>
</bar>
<div style="margin: 0px auto;width:960px;">
<%= link_to tagged_url(:tag => "health") do %>
<bar style="position:fixed;top:0px;width:80px;height:55px;"><h5 style="margin-top:20px;">BOYS</h5></bar>
<% end %>
<%= link_to tagged_url(:tag => "beauty") do %>
<bar style="position:fixed;margin-left:80px;top:0px;width:80px;height:55px;"><h5 style="margin-top:20px;">GIRLS</h5></bar>
<% end %>
<%= link_to tagged_url(:tag => "fashion") do %>
<bar style="position:fixed;margin-left:160px;top:0px;width:80px;height:55px;"><h5 style="margin-top:20px;">COUPLES</h5></bar>
<% end %>
<%= link_to tagged_url(:tag => "living") do %>
<bar style="position:fixed;margin-left:240px;top:0px;width:80px;height:55px;"><h5 style="margin-top:20px;">CAUGHT</h5></bar>
<% end %>
<%= link_to tagged_url(:tag => "marriage") do %>
<bar style="position:fixed;margin-left:320px;top:0px;width:80px;height:55px;"><h5 style="margin-top:20px;">TONIGHT</h5></bar>
<% end %>
<bar style="position:fixed;margin-left:400px;top:0px;width:160px;height:56px;z-index:900;box-shadow: 0px 3px 3px 0px black;">

	  <% if signed_in? %>
	  <%= render 'shared/stats' %>
	  <% end %>

</bar>
<%= link_to tagged_url(:tag => "mums") do %>
<bar style="position:fixed;margin-left:560px;top:0px;width:80px;height:55px;"><h5 style="margin-top:20px;">LOL</h5></bar>
<% end %>
<%= link_to tagged_url(:tag => "music") do %>
<bar style="position:fixed;margin-left:640px;top:0px;width:80px;height:55px;"><h5 style="margin-top:20px;">OMG</h5></bar>
<% end %>
<%= link_to tagged_url(:tag => "celebs") do %>
<bar style="position:fixed;margin-left:720px;top:0px;width:80px;height:55px;"><h5 style="margin-top:20px;">CUTE</h5></bar>
<% end %>
<%= link_to tagged_url(:tag => "recipes") do %>
<bar style="position:fixed;margin-left:800px;top:0px;width:80px;height:55px;"><h5 style="margin-top:20px;">FAIL</h5></bar>
<% end %>
<%= link_to tagged_url(:tag => "shopping") do %>
<bar style="position:fixed;margin-left:880px;top:0px;width:80px;height:55px;"><h5 style="margin-top:20px;">WTF</h5></bar>
<% end %>
</div>


<tbar style="z-index:60;right:0px;position:fixed;margin-left:880px;top:55px;width:240px;height:40px;box-shadow: 0px 2px 2px 0px black;"><p style="color:grey;">?</p></tbar>
<div style="right:0px;position:fixed;margin-left:720px;top:96px;width:240px;height:100%;background-image: linear-gradient(bottom, rgb(0,0,0) 0%, rgb(46,40,45) 63%);
background-image: -o-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(46,40,45) 63%);
background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(46,40,45) 63%);
background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(46,40,45) 63%);
background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(46,40,45) 63%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(0,0,0)),
	color-stop(0.63, rgb(46,40,45))
);z-index:-10;"></div>	



<% if signed_in? %>
<%= link_to users_path do %><bar style="z-index:999;position:fixed;bottom:0px;right:0px;width:106px;height:40px;">
	<img src="/assets/search.png" alt="rss feed" style="opacity:0.7;margin-top:10px;width:20px;height:20px;"/>
	<h5 style="margin-top:-5px;">Search</h5>
</bar><% end %>

<bar href="#" class="btn-slide1" style="z-index:999;position:fixed;bottom:0px;left:0px;width:106px;height:40px;">
	<h5 style="margin-top:25px;">MENU</h5>
</bar>
<% end %>

<div style="position:fixed;z-index:99999;" id="panel1">
	
	
	<%= link_to root_path do %>
	<bar2 style="top:0px;width:200px;height:50px;border-bottom:1px solid #1d1d1d;"><p>Slough</p></bar2>
	<% end %>
	
	<%= link_to '/feed' do %>
	<bar2 style="top:0px;width:200px;height:50px;border-bottom:1px solid #1d1d1d;"><p>Following</p></bar2>
	<% end %>
	
	<%= link_to tagged_url(:tag => current_user.school) do %>
	<bar2 style="top:0px;width:200px;height:50px;border-bottom:1px solid #1d1d1d;"><p><%= h truncate(current_user.school, :length => 25) %></p></bar2>
	<% end %>
	
	<%= link_to tagged_url(:tag => current_user.schoolyear) do %>
	<bar2 style="top:0px;width:200px;height:50px;border-bottom:1px solid #1d1d1d;"><p><%= raw h truncate(current_user.schoolyear, :length => 23) %></p></bar2>
	<% end %>
	
	<%= link_to current_user do %>
	<bar2 style="top:0px;width:200px;height:50px;border-bottom:1px solid #1d1d1d;"><p>Profile</p></bar2>
	<% end %>
	
	<%= link_to signout_path, method: "delete" do %>
	<bar2 style="top:0px;width:200px;height:50px;border-bottom:1px solid #1d1d1d;"><p>Sign Out</p></bar2>
	<% end %>
	
	
</div>
<script type="text/javascript">
$(document).ready(function(){

	$(".btn-slide1").click(function(){
		$("#panel1").slideToggle("medium");
		$(this).toggleClass("active1"); return false;
	});


});
</script>