<%= form_for @micropost, :html => {:multipart => true} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
	<%= f.file_field :image %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <div class="field">
    <%= f.text_area :link, placeholder: "paste link here" %>
  </div>
<%= f.label :tags %>
<%= f.text_field :tag_list %>
<%= f.label :kyahai %>
<%= f.text_field :kyahai %>
  <%= f.submit "Post", class: "btn", style:"width:300px;" %>
<% end %>

