<% @user ||= current_user %>

	
  <div href="<%= following_user_path(@user) %>" style="text-align:center;position:fixed;margin-left:1px;color:#CC337A;">
    <h1 id="following">
      <%= @user.followed_users.count %>
    </h1>
    <h5>following</h5>
  </div>

  <div style="text-align:center;position:fixed;margin-top:3px;margin-left:52px;">
	<%= image_tag @user.avatar_url(:avatar) if @user.avatar? %>
  </div>

  <div href="<%= followers_user_path(@user) %>" style="text-align:center;position:fixed;margin-left:109px;">
    <h1 id="followers">
      <%= @user.followers.count %>
    </h1>
    <h5>followers</h5>
  </div>
