<%= form_for @micropost, :html => {:multipart => true} do |f| %>

<tbar style="position:fixed;width:600px;height:42px;"><p>Video</p></tbar>

<tbar style="position:fixed;margin-left:50px;top:200px;width:120px;height:42px;"><p>Video Link</p></tbar>
<span style="position:fixed;margin-left:168px;top:201px;"><%= f.text_field :link, style: "width:370px;height:30px;" %></span>

<tbar style="position:fixed;margin-left:50px;top:260px;width:120px;height:102px;"><p>Description</p></tbar>
<span style="position:fixed;margin-left:168px;top:261px;"><%= f.text_field :content, style: "width:370px;height:91px;" %></span>

<tbar style="position:fixed;margin-left:50px;top:380px;width:120px;height:42px;"><p>Tags</p></tbar>
<span style="position:fixed;margin-left:168px;top:381px;"><%= f.text_field :tag_list, style: "width:370px;height:30px;" %></span>

<span style="position:fixed;margin-left:50px;top:460px;"><%= f.submit "Post", class: "bar", style: "width:500px;height:42px;" %></span>

<% end %>