<div class="item" >


  <span ><%= image_tag micropost.image_url.to_s if micropost.image? %></span>
  <% if micropost.content? %>
  <div class="content"><%= micropost.content %></div>
  <% end %>



  <barr style="position:absolute;width:50px;height:28px;text-align:center;"><h3>+</h3></barr>

  <span style="position:absolute;">
  <%= link_to micropost.user do %>
  <barr style="position:absolute;margin-left:50px;width:108px;height:28px;text-align:center;"><h3><%= micropost.user.name %></h3></barr>
  <% end %>
  </span>	

  <span style="position:absolute;">
  <% if signed_in? %>
  <%=  link_to vote_up_micropost_path(micropost.id) do %> 
  <barr style="position:absolute;margin-left:158px;width:50px;height:28px;text-align:center;"><h3><%= micropost.votes_for %></h3></barr>	
  <% end %>
  <% else %>
  <barr style="position:absolute;margin-left:158px;width:50px;height:28px;text-align:center;"><h3><%= micropost.votes_for %></h3></barr>
  <% end %>
  </span>


</div>



