
<div class="item">

  <span><%= image_tag micropost.image_url.to_s if micropost.image? %></span>
  <span class="content"><%= micropost.content %></span>
  <%=  link_to 'UP', vote_up_micropost_path(micropost.id), class: "btn" %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    Has <%= micropost.votes_for %> Votes
  </span>
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: micropost.content %>
  <% end %>

<% micropost.tags.any? %>
        <% micropost.tags.each do |tag| %>
        <%= link_to tag.name, tagged_url(:tag => tag.name) %>
<% end %>

	<div>
	
	<%= form_for([micropost, @comment]) do |f| %>
	<%= f.text_area :body, :placeholder => "Write a Comment..." %>
	<div><%= f.submit "Comment" %></div>
	<% end %>
	<% micropost.comments.each do |comment| %>
	<%= comment.body %>
	<%= comment.user.name %>
	
	


	<% end %>
	</div>


</div>
