
<div class="item" >



  <span ><%= image_tag micropost.image_url.to_s if micropost.image? %></span>
  <% if micropost.content? %>
  <div class="content"><%= micropost.content %></div>
  <% end %>


  
  <bar style="position:absolute;width:50px;height:28px;"></bar>

  <span style="position:absolute;">
  <%= link_to micropost.user do %>
  <bar style="position:absolute;margin-left:50px;width:108px;height:28px;text-align:center;"><h3><%= micropost.user.name %></h3></bar>
  <% end %>
  </span>	

  <span style="position:absolute;">
  <%=  link_to vote_up_micropost_path(micropost.id) do %> 
  <bar style="position:absolute;margin-left:158px;width:50px;height:28px;text-align:center;"><h3><%= micropost.votes_for %></h3></bar>	
  <% end %>
  </span>


</div>
