<!DOCTYPE html>
<html>
<head>
  <title>Feminine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-1.8.0.min" %>
  <%= javascript_include_tag "jquery.embedly.min" %>
  <%= javascript_include_tag "jquery.masonry.min" %>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

  <%= csrf_meta_tags %>


<script type="text/javascript">
  $('document').ready(function(){
    $('div.linkl').embedly({
      maxWidth: 680,
	  width: 680,
      wmode: 'transparent',
      method: 'after',
      key: 'ed3eccacb92c11e1ab024040aae4d8c9',
    });
  });
</script>

<script type="text/javascript">
  $('document').ready(function(){
    $('div.link').embedly({
      width: 210,
      wmode: 'transparent',
      method: 'after',
      key: 'ed3eccacb92c11e1ab024040aae4d8c9',
   	  chars: 100,
    });
  });
</script>





</head>
<body>

<%= yield %>


<% if signed_in? %>
<% @micropost = current_user.microposts.build(params[:micropost]) %>
<section>
<div class="modal hide" id="entermodal" style="width:600px;height:300px;background-color:#953361;"><%= render 'shared/micropost_form' %></div>
<div class="modal hide" id="link" style="width:600px;height:500px;background-color:black;"><%= render 'shared/link_form' %></div>
<div class="modal hide" id="text" style="width:600px;height:500px;background-color:black;"><%= render 'shared/text_form' %></div>
<div class="modal hide" id="video" style="width:600px;height:500px;background-color:black;"><%= render 'shared/video_form' %></div>
<div class="modal hide" id="picture" style="width:600px;height:500px;background-color:black;"><%= render 'shared/picture_form' %></div>
<div class="modal hide" id="school" style="width:600px;height:500px;background-color:black;"><%= render 'shared/school_form' %></div>
<div class="modal hide" id="year" style="width:600px;height:500px;background-color:black;"><%= render 'shared/year_form' %></div>
</section>


<% else %>

<%= render 'shared/enter' %>


<% end %>


</body>
</html>
